.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    min-width: 50%;
  }

  .ms-3 {
    width: 100%;
  }

  .supervisor-dropdown{
    margin-left: 30%;
  }

  .btn-32 {
    margin-left: 32%;
  }

  button {
    width: 200px;
  }

  .align-center{
    width: fit-content;
    margin: auto;
  }
  
 